h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: yellow;
}

    video{
         display:scroll;position:fixed;top: 340px;px;left: 400px;px;
    }
      a{
          
          color:rgb(211, 20, 170) ;
               
                        } 


s
